<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Invoicing</title>
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  <body class="invoice-print-body">
    {% include "components/invoice-print-body.njk" %}
  </body>
</html>
